/* Mobile */
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important; }
  .ui.grid > [class*="eight wide mobile"].column {
    width: 50% !important; } }

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important; } }

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large screen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important; } }

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large screen"]),
  [class*="tablet only"]:not([class*="large screen"]),
  [class*="computer only"]:not([class*="large screen"]),
  [class*="large screen hidden"],
  [class*="widescreen only"]:not([class*="large screen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important; } }

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="large screen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important; } }

body {
  background-color: #F4F4F4;
  font-size: 1rem;
  font-weight: 400; }

.ui.medium.header {
  letter-spacing: 0.01em; }

.ui.sub.header {
  font-size: 0.8rem;
  letter-spacing: 0.1em; }

.ui.menu .item:before, .top.menu .selector:hover .ui.menu .item:before, .top.menu .selector:active .ui.menu .item:before, .top.menu .selector:focus .ui.menu .item:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background: rgba(221, 221, 221, 0.5); }

.ui.basic.button {
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000 !important; }
  .ui.basic.button:hover {
    background-color: #F4F4F4;
    border: 1px solid rgba(221, 221, 221, 0.5); }

.tvn.page {
  padding-top: 85px;
  background-color: #F4F4F4; }

.tvn.icon {
  display: inline-block;
  margin: 0;
  padding: 0; }

.tvn.weight.thin {
  font-weight: 100; }

.tvn.weight.light {
  font-weight: 300; }

.tvn.weight.regular {
  font-weight: 400; }

.tvn.weight.bold {
  font-weight: 700; }

.tvn.weight.heavy {
  font-weight: 900; }

.tvn.positioning {
  position: relative; }
  .tvn.positioning > .positioned {
    position: absolute; }
    .tvn.positioning > .positioned.left {
      left: 0; }
    .tvn.positioning > .positioned.right {
      right: 0; }
    .tvn.positioning > .positioned.center {
      left: 50%;
      transform: translateX(-50%); }
    .tvn.positioning > .positioned.top {
      top: 0; }
    .tvn.positioning > .positioned.bottom {
      bottom: 0; }
    .tvn.positioning > .positioned.middle {
      top: 50%;
      transform: translateY(-50%); }
    .tvn.positioning > .positioned.xstretch {
      left: 0;
      right: 0; }
    .tvn.positioning > .positioned.ystretch {
      top: 0;
      bottom: 0; }

.tvn[class*='fade clipped'] {
  position: relative;
  overflow: hidden; }
  .tvn[class*='fade clipped']:after {
    position: absolute;
    top: 0;
    right: 0;
    width: 30%;
    max-width: 100px;
    height: 100%;
    content: " ";
    background-image: linear-gradient(to right, transparent, #FFFFFF 100%); }
  .tvn[class*='fade clipped'].accent:after {
    background-image: linear-gradient(to right, transparent, #28905A 100%); }

.tvn[class*='no padding'] {
  padding: 0 !important; }

.top.fixed.menu, .top.menu .selector:hover .top.fixed.menu, .top.menu .selector:active .top.fixed.menu, .top.menu .selector:focus .top.fixed.menu {
  border-bottom: none;
  box-shadow: 0 1px 10px 0 rgba(34, 36, 38, 0.18);
  height: 90px; }
  .top.fixed.menu > .column, .top.menu .selector:hover .top.fixed.menu > .column, .top.menu .selector:active .top.fixed.menu > .column, .top.menu .selector:focus .top.fixed.menu > .column {
    height: 100%; }
  .top.fixed.menu .brand, .top.menu .selector:hover .top.fixed.menu .brand, .top.menu .selector:active .top.fixed.menu .brand, .top.menu .selector:focus .top.fixed.menu .brand {
    display: flex;
    align-items: center;
    overflow: hidden;
    height: 100%; }
    .top.fixed.menu .brand .logo {
      flex: 0;
      margin: 0;
      width: auto;
      height: 3.5em; }
    .top.fixed.menu .brand .name {
      flex-shrink: 1;
      white-space: nowrap;
      color: #28905A;
      letter-spacing: -0.01em;
      font-weight: 900;
      margin: 0 20px; }
    .top.fixed.menu .brand:before, .top.menu .selector:hover .top.fixed.menu .brand:before, .top.menu .selector:active .top.fixed.menu .brand:before, .top.menu .selector:focus .top.fixed.menu .brand:before {
      content: '';
      flex: none;
      width: 20%;
      max-width: 40px;
      height: 100%; }
  .top.fixed.menu .selectors, .top.menu .selector:hover .top.fixed.menu .selectors, .top.menu .selector:active .top.fixed.menu .selectors, .top.menu .selector:focus .top.fixed.menu .selectors {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%; }

.top.menu .selector, .top.menu .selector:hover .top.menu .selector, .top.menu .selector:active .top.menu .selector, .top.menu .selector:focus .top.menu .selector {
  height: 100%;
  width: calc(100% / 3);
  max-width: 360px;
  transition: .2s;
  background-color: #FFFFFF; }
  .top.menu .selector, .top.menu .selector:hover .top.menu .selector, .top.menu .selector:active .top.menu .selector, .top.menu .selector:focus .top.menu .selector, .top.menu .selector .header, .top.menu .selector:hover .top.menu .selector .header, .top.menu .selector:active .top.menu .selector .header, .top.menu .selector:focus .top.menu .selector .header {
    color: #000000; }
  .top.menu .selector .tvn.icon {
    fill: #000000;
    stroke: #000000; }
  .top.menu .selector .tvn.stroke {
    background-color: rgba(221, 221, 221, 0.5); }
  .top.menu .selector .tvn.fade.clipped:after {
    background-image: linear-gradient(to right, transparent, #FFFFFF 100%); }
  .top.menu .selector .tab, .top.menu .selector:hover .top.menu .selector .tab, .top.menu .selector:active .top.menu .selector .tab, .top.menu .selector:focus .top.menu .selector .tab {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .top.menu .selector .tab .section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      overflow: hidden; }
    .top.menu .selector .tab .info.section {
      align-items: flex-start;
      margin-right: 18%; }
    .top.menu .selector .tab .icon.section {
      flex: none;
      align-items: center;
      margin: 0 10%; }
    .top.menu .selector .tab .icon.section .icon.header > .tvn.icon {
      width: 35px;
      height: 35px; }
    .top.menu .selector .tab .header {
      margin: 0;
      white-space: nowrap;
      overflow: hidden; }
    .top.menu .selector .tab .sub.header {
      margin-top: 3px; }
    .top.menu .selector .tab .calendar.icon.header > .number {
      font-size: 1.1em;
      margin-bottom: 6px; }
    @media only screen and (max-width: 767px) {
      .top.menu .selector .tab, .top.menu .selector:hover .top.menu .selector .tab, .top.menu .selector:active .top.menu .selector .tab, .top.menu .selector:focus .top.menu .selector .tab {
        justify-content: center; } }
    @media only screen and (max-width: 480px) {
      .top.menu .selector .tab .icon.section .icon.header > .tvn.icon {
        width: 30px;
        height: 30px; }
      .top.menu .selector .tab .calendar.icon.header > .number {
        font-size: 1em;
        margin-bottom: 6px; } }
  .top.menu .selector .dropdown.toggle {
    margin-right: 10%;
    z-index: 1; }
    .top.menu .selector .dropdown.toggle .tvn.icon {
      width: 20px;
      height: 20px;
      opacity: 0.2; }
  .top.menu .selector .dropdown.menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 280px;
    min-height: 90px;
    max-height: 70vh;
    left: auto;
    right: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px; }
    @media only screen and (max-width: 767px) {
      .top.menu .selector .dropdown.menu {
        position: fixed;
        top: 90px !important;
        min-width: unset;
        min-height: unset;
        max-height: calc(100vh - 90px); } }
  .top.menu .selector .dropdown.menu .content {
    width: 100%;
    overflow: auto; }
  .top.menu .selector .dropdown.menu .footer {
    flex: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border-top: 1px solid rgba(221, 221, 221, 0.5);
    overflow: hidden;
    transition: .2s;
    background-color: #FFFFFF; }
    .top.menu .selector .dropdown.menu .footer, .top.menu .selector .dropdown.menu .footer .header {
      color: #000000; }
    .top.menu .selector .dropdown.menu .footer .tvn.icon {
      fill: #000000;
      stroke: #000000; }
    .top.menu .selector .dropdown.menu .footer .tvn.stroke {
      background-color: rgba(221, 221, 221, 0.5); }
    .top.menu .selector .dropdown.menu .footer .tvn.fade.clipped:after {
      background-image: linear-gradient(to right, transparent, #FFFFFF 100%); }
  .top.menu .selector .dropdown.menu .item {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    height: 90px;
    overflow: hidden;
    padding: 0 10% !important;
    border-top: 1px solid rgba(221, 221, 221, 0.5); }
    .top.menu .selector .dropdown.menu .item .header, .top.menu .selector .dropdown.menu .item .description {
      margin: 0;
      width: 100%;
      white-space: nowrap;
      overflow: hidden; }
    .top.menu .selector .dropdown.menu .item .description {
      margin-top: 3px;
      color: #000000;
      font-size: 0.8rem !important; }
  .top.menu .selector:hover, .top.menu .selector:hover .top.menu .selector:hover, .top.menu .selector:active .top.menu .selector:hover, .top.menu .selector:focus .top.menu .selector:hover, .top.menu .selector:active, .top.menu .selector:hover .top.menu .selector:active, .top.menu .selector:active .top.menu .selector:active, .top.menu .selector:focus .top.menu .selector:active, .top.menu .selector:focus, .top.menu .selector:hover .top.menu .selector:focus, .top.menu .selector:active .top.menu .selector:focus, .top.menu .selector:focus .top.menu .selector:focus {
    transition: .2s; }
    .top.menu .selector:hover.tvn.themed, .top.menu .selector:hover .tvn.themed, .top.menu .selector:active.tvn.themed, .top.menu .selector:active .tvn.themed, .top.menu .selector:focus.tvn.themed, .top.menu .selector:focus .tvn.themed {
      background-color: #28905A; }
      .top.menu .selector:hover.tvn.themed, .top.menu .selector:hover.tvn.themed .header, .top.menu .selector:hover .tvn.themed, .top.menu .selector:hover .tvn.themed .header, .top.menu .selector:active.tvn.themed, .top.menu .selector:active.tvn.themed .header, .top.menu .selector:active .tvn.themed, .top.menu .selector:active .tvn.themed .header, .top.menu .selector:focus.tvn.themed, .top.menu .selector:focus.tvn.themed .header, .top.menu .selector:focus .tvn.themed, .top.menu .selector:focus .tvn.themed .header {
        color: #FFFFFF; }
      .top.menu .selector:hover.tvn.themed .tvn.icon, .top.menu .selector:hover .tvn.themed .tvn.icon, .top.menu .selector:active.tvn.themed .tvn.icon, .top.menu .selector:active .tvn.themed .tvn.icon, .top.menu .selector:focus.tvn.themed .tvn.icon, .top.menu .selector:focus .tvn.themed .tvn.icon {
        fill: #FFFFFF;
        stroke: #FFFFFF; }
      .top.menu .selector:hover.tvn.themed .tvn.stroke, .top.menu .selector:hover .tvn.themed .tvn.stroke, .top.menu .selector:active.tvn.themed .tvn.stroke, .top.menu .selector:active .tvn.themed .tvn.stroke, .top.menu .selector:focus.tvn.themed .tvn.stroke, .top.menu .selector:focus .tvn.themed .tvn.stroke {
        background-color: #F4F4F4; }
      .top.menu .selector:hover.tvn.themed.tvn.fade.clipped:after, .top.menu .selector:hover.tvn.themed .tvn.fade.clipped:after, .top.menu .selector:hover .tvn.themed.tvn.fade.clipped:after, .top.menu .selector:hover .tvn.themed .tvn.fade.clipped:after, .top.menu .selector:active.tvn.themed.tvn.fade.clipped:after, .top.menu .selector:active.tvn.themed .tvn.fade.clipped:after, .top.menu .selector:active .tvn.themed.tvn.fade.clipped:after, .top.menu .selector:active .tvn.themed .tvn.fade.clipped:after, .top.menu .selector:focus.tvn.themed.tvn.fade.clipped:after, .top.menu .selector:focus.tvn.themed .tvn.fade.clipped:after, .top.menu .selector:focus .tvn.themed.tvn.fade.clipped:after, .top.menu .selector:focus .tvn.themed .tvn.fade.clipped:after {
        background-image: linear-gradient(to right, transparent, #28905A 100%); }

/* DayPicker styles */
.DayPicker {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  padding: 15px 10%;
  user-select: none; }

.DayPicker-NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 40px;
  padding: 0 10%; }

.DayPicker-NavButton {
  cursor: pointer; }
  .DayPicker-NavButton .tvn.icon {
    width: 20px;
    height: 20px; }

.DayPicker-NavButton--prev {
  left: 0;
  transform: rotate(90deg); }

.DayPicker-NavButton--next {
  right: 0;
  transform: rotate(-90deg); }

.DayPicker-Month {
  display: flex;
  flex-direction: column;
  align-items: center;
  user-select: none;
  width: 100%; }

.DayPicker-Caption {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.DayPicker-Weekdays, .DayPicker-WeekdaysRow {
  display: flex;
  width: 100%; }

.DayPicker-WeekdaysRow {
  justify-content: space-around;
  align-items: center;
  height: 40px; }

.DayPicker-Weekday {
  padding: .5rem;
  font-size: .875em;
  text-align: center;
  color: #AAAAAA;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase; }
  .DayPicker-Weekday abbr[title] {
    border: none; }

.DayPicker-Body {
  display: flex;
  flex-direction: column;
  width: 100%; }

.DayPicker-Week {
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: space-around;
  align-items: center; }

.DayPicker-Day {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: calc(30px / 2);
  padding: 0;
  cursor: pointer;
  outline: none; }
  .DayPicker-Day:hover {
    background-color: #F4F4F4;
    border: 1px solid rgba(221, 221, 221, 0.5); }
  .DayPicker-Day:active {
    background-color: rgba(221, 221, 221, 0.5); }

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default; }

/* Default modifiers */
.DayPicker-Day--today {
  font-weight: 700;
  border: 1px solid #AAAAAA; }

.DayPicker-Day--disabled {
  color: rgba(221, 221, 221, 0.5);
  cursor: default;
  background-color: unset; }

.DayPicker-Day--outside {
  cursor: default;
  color: #AAAAAA; }

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: #FFFFFF;
  background-color: #28905A;
  border: none; }
