/* Mobile */
@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large screen only"]:not(.mobile),
  [class*="widescreen only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important; }
  .ui.grid > [class*="eight wide mobile"].column {
    width: 50% !important; } }

/* Tablet / iPad Portrait */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  [class*="mobile only"]:not(.tablet),
  [class*="tablet hidden"],
  [class*="computer only"]:not(.tablet),
  [class*="large screen only"]:not(.tablet),
  [class*="widescreen only"]:not(.tablet),
  [class*="or lower hidden"]:not(.mobile) {
    display: none !important; } }

/* Computer / Desktop / iPad Landscape */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  [class*="mobile only"]:not(.computer),
  [class*="tablet only"]:not(.computer),
  [class*="computer hidden"],
  [class*="large screen only"]:not(.computer),
  [class*="widescreen only"]:not(.computer),
  [class*="or lower hidden"]:not(.tablet):not(.mobile) {
    display: none !important; } }

/* Large Monitor */
@media only screen and (min-width: 1200px) and (max-width: 1919px) {
  [class*="mobile only"]:not([class*="large screen"]),
  [class*="tablet only"]:not([class*="large screen"]),
  [class*="computer only"]:not([class*="large screen"]),
  [class*="large screen hidden"],
  [class*="widescreen only"]:not([class*="large screen"]),
  [class*="or lower hidden"]:not(.computer):not(.tablet):not(.mobile) {
    display: none !important; } }

/* Widescreen Monitor */
@media only screen and (min-width: 1920px) {
  [class*="mobile only"]:not([class*="widescreen"]),
  [class*="tablet only"]:not([class*="widescreen"]),
  [class*="computer only"]:not([class*="widescreen"]),
  [class*="large screen only"]:not([class*="widescreen"]),
  [class*="widescreen hidden"],
  [class*="widescreen or lower hidden"] {
    display: none !important; } }

body {
  background-color: #F8F8F8;
  font-size: 1rem; }

.ui.sub.header {
  font-size: 0.8rem;
  letter-spacing: 0.1em; }

.tvn.sub.header {
  font-size: 0.8rem;
  letter-spacing: 0.1em; }

.ui.medium.header {
  letter-spacing: 0.01em; }

.ui.menu .item:before, .top.menu .selector:hover .ui.menu .item:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 100%;
  width: 1px;
  background: #E4E4E4; }

.ui.basic.button {
  font-size: 0.8rem;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #000000 !important; }

.ui.star.rating .icon.active:not(.selected) {
  color: #F6A623 !important;
  text-shadow: none !important; }

.ui.form .field > label {
  font-size: 0.8rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.ui.form input[type='text']:focus, .ui.form textarea:focus {
  border: 1px solid rgba(40, 144, 90, 0.6); }

.ui[class*="very wide"].right.sidebar {
  width: 420px; }
  .ui[class*="very wide"].right.sidebar.visible ~ .fixed,
  .ui[class*="very wide"].right.sidebar.visible ~ .pusher {
    -webkit-transform: translate3d(-420px, 0, 0);
            transform: translate3d(-420px, 0, 0); }
  @media only screen and (max-width: 480px) {
    .ui[class*="very wide"].right.sidebar {
      width: 100%; }
    .ui[class*="very wide"].right.sidebar.visible ~ .fixed,
    .ui[class*="very wide"].right.sidebar.visible ~ .pusher {
      -webkit-transform: translate3d(-100%, 0, 0);
              transform: translate3d(-100%, 0, 0); } }

.tvn.icon {
  display: inline-block;
  margin: 0;
  padding: 0; }

.tvn[class*="vertical stroke"] {
  width: 0 !important;
  border-left: 1px solid #E4E4E4; }

.tvn[class*="horizontal stroke"] {
  height: 0 !important;
  border-top: 1px solid #E4E4E4; }

@-webkit-keyframes sonarWave {
  from {
    opacity: 0.4; }
  to {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0; } }

@keyframes sonarWave {
  from {
    opacity: 0.4; }
  to {
    -webkit-transform: scale(5);
            transform: scale(5);
    opacity: 0; } }

.tvn.sonar {
  position: relative;
  width: 9px;
  height: 9px;
  background-color: #E4E4E4;
  border-radius: 50%; }
  .tvn.sonar .wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #E4E4E4;
    opacity: 0;
    pointer-events: none; }
  .tvn.sonar.on {
    background-color: #28905A; }
    .tvn.sonar.on .wave {
      background-color: #28905A;
      -webkit-animation: sonarWave 2s linear infinite;
              animation: sonarWave 2s linear infinite; }

.tvn.collapsible.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
  .tvn.collapsible.title .header {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    margin: 0 20px; }
  .tvn.collapsible.title .toggle {
    margin-left: 20px;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease; }
    .tvn.collapsible.title .toggle .tvn.icon {
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none;
      width: 20px;
      height: 20px;
      opacity: 0.2; }
  .tvn.collapsible.title.active .toggle {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }
  .tvn.collapsible.title .tvn.horizontal.stroke {
    width: 100%; }

.tvn.link {
  color: #000000; }
  .tvn.link:active, .tvn.link:hover, .tvn.link:focus {
    color: #28905A; }

.tvn.weight.thin {
  font-weight: 100; }

.tvn.weight.light {
  font-weight: 300; }

.tvn.weight.regular {
  font-weight: 400; }

.tvn.weight.bold {
  font-weight: 700; }

.tvn.weight.heavy {
  font-weight: 900; }

.tvn.positioning {
  position: relative; }
  .tvn.positioning > .positioned {
    position: absolute; }
    .tvn.positioning > .positioned.left {
      left: 0; }
    .tvn.positioning > .positioned.right {
      right: 0; }
    .tvn.positioning > .positioned.center {
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .tvn.positioning > .positioned.top {
      top: 0; }
    .tvn.positioning > .positioned.bottom {
      bottom: 0; }
    .tvn.positioning > .positioned.middle {
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .tvn.positioning > .positioned.xstretch {
      left: 0;
      right: 0; }
    .tvn.positioning > .positioned.ystretch {
      top: 0;
      bottom: 0; }

.tvn[class*='fade clipped'] {
  position: relative;
  overflow: hidden; }
  .tvn[class*='fade clipped']:after {
    position: absolute;
    content: " ";
    pointer-events: none; }
  .tvn[class*='fade clipped']:not(.vertical):after {
    top: 0;
    right: 0;
    width: 30%;
    max-width: 100px;
    min-width: 30px;
    height: 100%; }
  .tvn[class*='fade clipped'].vertical:after {
    left: 0;
    bottom: 0;
    height: 30%;
    max-height: 100px;
    min-height: 30px;
    width: 100%; }
  .tvn[class*='fade clipped']:not(.accented):not(.vertical):after {
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #FFFFFF 100%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF 100%); }
  .tvn[class*='fade clipped'].accented:not(.vertical):after {
    background-image: -webkit-linear-gradient(left, rgba(40, 144, 90, 0), #28905A 100%);
    background-image: linear-gradient(to right, rgba(40, 144, 90, 0), #28905A 100%); }
  .tvn[class*='fade clipped'].vertical:not(.accented):after {
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0), #FFFFFF 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #FFFFFF 100%); }
  .tvn[class*='fade clipped'].vertical.accent:after {
    background-image: -webkit-linear-gradient(top, rgba(40, 144, 90, 0), #28905A 100%);
    background-image: linear-gradient(to bottom, rgba(40, 144, 90, 0), #28905A 100%); }

.tvn[class*='no padding'] {
  padding: 0 !important; }

.top.fixed.menu, .top.menu .selector:hover .top.fixed.menu {
  position: fixed !important;
  height: 90px;
  background-color: rgba(255, 255, 255, 0.9);
  border-bottom: 0.5px solid #E4E4E4;
  box-shadow: 0 1px 10px 0 rgba(34, 36, 38, 0.14); }
  .top.fixed.menu > .column, .top.menu .selector:hover .top.fixed.menu > .column {
    height: 100%; }
  .top.fixed.menu .brand, .top.menu .selector:hover .top.fixed.menu .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    overflow: hidden;
    height: 100%; }
    .top.fixed.menu .brand .logo {
      -webkit-box-flex: 0;
          -ms-flex: 0;
              flex: 0;
      margin: 0;
      width: auto;
      min-width: 3.5em;
      height: 3.5em; }
    .top.fixed.menu .brand .name {
      -ms-flex-negative: 1;
          flex-shrink: 1;
      white-space: nowrap;
      color: #28905A;
      letter-spacing: -0.01em;
      font-weight: 900;
      margin: 0 20px; }
    .top.fixed.menu .brand:before, .top.menu .selector:hover .top.fixed.menu .brand:before {
      content: '';
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none;
      width: 20%;
      max-width: 40px;
      height: 100%; }
  .top.fixed.menu .selectors, .top.menu .selector:hover .top.fixed.menu .selectors {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%; }

.top.menu .selector, .top.menu .selector:hover .top.menu .selector {
  height: 100%;
  width: calc(100% / 3);
  max-width: 360px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background-color: #FFFFFF; }
  .top.menu .selector, .top.menu .selector:hover .top.menu .selector, .top.menu .selector .header, .top.menu .selector:hover .top.menu .selector .header {
    color: #000000; }
  .top.menu .selector .tvn.icon {
    fill: #000000;
    stroke: #000000; }
  .top.menu .selector .tvn.stroke {
    background-color: #E4E4E4; }
  .top.menu .selector .tvn.fade.clipped:after {
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #FFFFFF 100%);
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF 100%); }
  .top.menu .selector:hover, .top.menu .selector:hover .top.menu .selector:hover {
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease; }
    .top.menu .selector:hover.tvn.themed, .top.menu .selector:hover .tvn.themed {
      background-color: #28905A; }
      .top.menu .selector:hover.tvn.themed, .top.menu .selector:hover.tvn.themed .header, .top.menu .selector:hover .tvn.themed, .top.menu .selector:hover .tvn.themed .header {
        color: #FFFFFF; }
      .top.menu .selector:hover.tvn.themed .tvn.icon, .top.menu .selector:hover .tvn.themed .tvn.icon {
        fill: #FFFFFF;
        stroke: #FFFFFF; }
      .top.menu .selector:hover.tvn.themed .tvn.stroke, .top.menu .selector:hover .tvn.themed .tvn.stroke {
        background-color: #F8F8F8; }
      .top.menu .selector:hover.tvn.themed.tvn.fade.clipped:after, .top.menu .selector:hover.tvn.themed .tvn.fade.clipped:after, .top.menu .selector:hover .tvn.themed.tvn.fade.clipped:after, .top.menu .selector:hover .tvn.themed .tvn.fade.clipped:after {
        background-image: -webkit-linear-gradient(left, rgba(40, 144, 90, 0), #28905A 100%);
        background-image: linear-gradient(to right, rgba(40, 144, 90, 0), #28905A 100%); }
  .top.menu .selector .tab, .top.menu .selector:hover .top.menu .selector .tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden; }
    .top.menu .selector .tab .section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      height: 100%;
      overflow: hidden; }
    .top.menu .selector .tab .info.section {
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      margin-right: 18%; }
    .top.menu .selector .tab .icon.section {
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin: 0 10%; }
    .top.menu .selector .tab .icon.section .icon.header > .tvn.icon {
      width: 35px;
      height: 35px; }
    .top.menu .selector .tab .header {
      margin: 0;
      white-space: nowrap;
      overflow: hidden; }
    .top.menu .selector .tab .sub.header {
      margin-top: 3px; }
    .top.menu .selector .tab .calendar.icon.header > .number {
      font-size: 1.1em;
      margin-bottom: 6px; }
    @media only screen and (max-width: 767px) {
      .top.menu .selector .tab, .top.menu .selector:hover .top.menu .selector .tab {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
    @media only screen and (max-width: 480px) {
      .top.menu .selector .tab .icon.section .icon.header > .tvn.icon {
        width: 30px;
        height: 30px; }
      .top.menu .selector .tab .calendar.icon.header > .number {
        font-size: 1em;
        margin-bottom: 6px; } }
  .top.menu .selector .dropdown.toggle {
    margin-right: 10%;
    z-index: 1; }
    .top.menu .selector .dropdown.toggle .tvn.icon {
      width: 20px;
      height: 20px;
      opacity: 0.2; }
  .top.menu .selector .dropdown.menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    min-width: 280px;
    min-height: 90px;
    max-height: 70vh;
    left: auto;
    right: 0;
    border: 0.5px solid #E4E4E4;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    box-shadow: 0 1px 10px 0 rgba(34, 36, 38, 0.14);
    overflow: hidden; }
    @media only screen and (max-width: 767px) {
      .top.menu .selector .dropdown.menu {
        position: fixed;
        top: 90px !important;
        min-width: unset;
        min-height: unset;
        max-height: calc(100vh - 90px); } }
  .top.menu .selector .dropdown.menu .content {
    width: 100%;
    overflow: auto; }
  .top.menu .selector .dropdown.menu .footer {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 50px;
    border-top: 0.5px solid #E4E4E4;
    overflow: hidden;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    background-color: #FFFFFF; }
    .top.menu .selector .dropdown.menu .footer, .top.menu .selector .dropdown.menu .footer .header {
      color: #000000; }
    .top.menu .selector .dropdown.menu .footer .tvn.icon {
      fill: #000000;
      stroke: #000000; }
    .top.menu .selector .dropdown.menu .footer .tvn.stroke {
      background-color: #E4E4E4; }
    .top.menu .selector .dropdown.menu .footer .tvn.fade.clipped:after {
      background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #FFFFFF 100%);
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF 100%); }
  .top.menu .selector .dropdown.menu .list .item {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
    height: 90px;
    overflow: hidden;
    padding: 0 10% !important;
    border: 0;
    border-top: 0.5px solid #E4E4E4;
    cursor: pointer; }
    .top.menu .selector .dropdown.menu .list .item .header, .top.menu .selector .dropdown.menu .list .item .description {
      margin: 0;
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      line-height: 1.3em; }
    .top.menu .selector .dropdown.menu .list .item .description {
      margin-top: 3px;
      color: #000000;
      font-size: 0.8rem !important; }
    .top.menu .selector .dropdown.menu .list .item:hover {
      background-color: #F8F8F8; }
    .top.menu .selector .dropdown.menu .list .item:active {
      background-color: #E4E4E4; }

/* DayPicker styles */
.DayPicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  max-width: 520px;
  padding: 15px 10%;
  margin: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  outline: none; }

.DayPicker-NavBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 40px;
  padding: 0 10%; }

.DayPicker-NavButton {
  cursor: pointer; }
  .DayPicker-NavButton .tvn.icon {
    width: 20px;
    height: 20px; }

.DayPicker-NavButton--prev {
  left: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg); }

.DayPicker-NavButton--next {
  right: 0;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg); }

.DayPicker-Month {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 100%; }

.DayPicker-Caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40px;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.DayPicker-Weekdays, .DayPicker-WeekdaysRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%; }

.DayPicker-WeekdaysRow {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px; }

.DayPicker-Weekday {
  padding: .5rem;
  font-size: .875em;
  text-align: center;
  color: #AAAAAA;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase; }
  .DayPicker-Weekday abbr[title] {
    border: none; }

.DayPicker-Body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }

.DayPicker-Week {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.DayPicker-Day {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30px;
  height: 30px;
  border-radius: calc(30px / 2);
  padding: 0;
  cursor: pointer;
  outline: none; }
  .DayPicker-Day:hover {
    background-color: #F8F8F8;
    border: 0.5px solid #E4E4E4; }
  .DayPicker-Day:active {
    background-color: #E4E4E4; }

.DayPicker--interactionDisabled .DayPicker-Day {
  cursor: default; }

/* Default modifiers */
.DayPicker-Day--today {
  border: 1px solid #28905A; }

.DayPicker-Day--disabled {
  color: #E4E4E4;
  cursor: default;
  background-color: unset; }

.DayPicker-Day--outside {
  cursor: default;
  color: #AAAAAA; }

.DayPicker-Day--selected:not(.DayPicker-Day--disabled):not(.DayPicker-Day--outside) {
  color: #FFFFFF;
  background-color: #28905A;
  border: none; }

.meal.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .meal.section > .vertical.stroke {
    height: 80px; }
  .meal.section > .horizontal.stroke {
    width: 100%;
    margin-top: 40px; }
  .meal.section .header {
    margin-top: 10px; }
  .meal.section .schedule {
    font-weight: 400; }
  .meal.section .title {
    letter-spacing: 0.9em;
    margin-right: -0.9em;
    font-size: 1.5em;
    text-transform: uppercase; }
  .meal.section .courses {
    width: 100%; }
  .meal.section .tvn.collapsible.title {
    margin: 15px 10%; }
    .meal.section .tvn.collapsible.title .toggle {
      position: absolute;
      left: 100%;
      top: 50%;
      -webkit-transform: translateY(-50%);
              transform: translateY(-50%); }
    .meal.section .tvn.collapsible.title.active .toggle {
      -webkit-transform: translateY(-50%) rotate(180deg);
              transform: translateY(-50%) rotate(180deg); }
  @media only screen and (max-width: 380px) {
    .meal.section > .vertical.stroke {
      height: 60px; }
    .meal.section .tvn.collapsible.title .toggle {
      margin-left: 8px; } }

.meals .serving.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  border: 0.5px solid #E4E4E4;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 1px 10px 0 rgba(34, 36, 38, 0.14);
  overflow: hidden;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  cursor: pointer;
  position: relative; }
  .meals .serving.card .image.wrapper {
    -webkit-box-flex: 0;
        -ms-flex: none;
            flex: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    width: 20%;
    height: inherit;
    overflow: hidden; }
    .meals .serving.card .image.wrapper .image {
      width: 100%;
      background-size: cover;
      background-position: center center;
      -webkit-transition: 0.2s ease;
      transition: 0.2s ease; }
    .meals .serving.card .image.wrapper:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: #28905A;
      opacity: 0.3; }
  .meals .serving.card .content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 15px;
    padding-left: 20px; }
  .meals .serving.card .header {
    margin: 0; }
  .meals .serving.card .header + .header {
    margin: 10px 0 5px; }
  .meals .serving.card .meta, .meals .serving.card .description {
    font-size: 0.8rem;
    color: #000000; }
  .meals .serving.card .meta {
    margin: 10px 0 5px; }
  .meals .serving.card .description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 1.5em;
    color: #000000; }
  .meals .serving.card .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .meals .serving.card:hover {
    border: 1px solid rgba(40, 144, 90, 0.6); }
  .meals .serving.card:active {
    box-shadow: 0 1px 10px 0 rgba(40, 144, 90, 0.5); }
  @media only screen and (max-width: 380px) {
    .meals .serving.card {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
    .meals .serving.card .image.wrapper {
      width: 100%;
      height: 150px;
      border-radius: 0;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px; } }
  @media only screen and (min-width: 992px) {
    .meals .serving.card .content {
      height: 170px; }
    .meals .serving.card .header, .meals .serving.card .meta, .meals .serving.card .footer {
      -webkit-box-flex: 0;
          -ms-flex: none;
              flex: none; }
    .meals .serving.card .description {
      height: 100%; } }

.pushable.content > .sidebar {
  position: relative;
  width: 420px; }
  .pushable.content > .sidebar .image {
    position: absolute;
    width: 100%;
    height: 20vh;
    margin-top: 90px;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: -1; }
    .pushable.content > .sidebar .image:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #28905A;
      opacity: 0.2; }
  .pushable.content > .sidebar .buffer {
    width: 100%;
    height: 20vh; }
  .pushable.content > .sidebar .scroll.wrapper {
    width: 100%;
    height: 100%;
    padding-top: 90px;
    overflow: auto; }
  .pushable.content > .sidebar .content {
    background-color: #FFFFFF; }
  .pushable.content > .sidebar .headers {
    padding: 25px; }
    .pushable.content > .sidebar .headers .header {
      margin: 0; }
    .pushable.content > .sidebar .headers .header + .header {
      margin: 10px 0 5px; }
    .pushable.content > .sidebar .headers .meta, .pushable.content > .sidebar .headers .description {
      font-size: 0.8rem;
      color: #000000; }
    .pushable.content > .sidebar .headers .meta {
      margin: 10px 0 5px; }
  .pushable.content > .sidebar .accordion {
    padding: 0 25px;
    font-size: 0.8rem;
    color: #000000; }
    .pushable.content > .sidebar .accordion > .content {
      margin-bottom: 30px; }
  .pushable.content > .sidebar .close.button {
    position: absolute;
    top: 90px;
    padding: 0;
    margin: 25px;
    background: none;
    opacity: 0.8;
    cursor: pointer;
    border: none;
    outline: none;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease; }
    .pushable.content > .sidebar .close.button:hover, .pushable.content > .sidebar .close.button:active {
      -webkit-transform: translateX(-3px);
              transform: translateX(-3px); }
    .pushable.content > .sidebar .close.button .tvn.icon {
      width: 40px;
      height: 40px;
      -webkit-transform: rotate(90deg);
              transform: rotate(90deg);
      fill: #F8F8F8; }

#review-form {
  padding: 10px 0; }
  #review-form .comment.field {
    margin-top: 10px; }

#reviews-list .item {
  padding: 10px 0;
  border-bottom: 0.5px solid #E4E4E4; }
  #reviews-list .item .meta {
    margin: .3em 0; }
  #reviews-list .item .ui.rating {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80px;
    margin-top: 8px; }
  #reviews-list .item:last-child {
    border-bottom: none; }

html, body, #app, .tvn.page, .pushable.content, .sidebar, .pusher {
  height: 100%;
  overflow-y: hidden; }

.main {
  height: 100%;
  overflow-y: auto;
  padding-top: 90px; }
  .main > .footer {
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    background-color: #FFFFFF;
    padding: 60px 0;
    background-color: unset; }
    .main > .footer, .main > .footer .header {
      color: #000000; }
    .main > .footer .tvn.icon {
      fill: #000000;
      stroke: #000000; }
    .main > .footer .tvn.stroke {
      background-color: #E4E4E4; }
    .main > .footer .tvn.fade.clipped:after {
      background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #FFFFFF 100%);
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF 100%); }
    .main > .footer, .main > .footer .signature {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .main > .footer .signature {
      font-size: 0.8rem; }
    .main > .footer .signature .icon {
      width: 50px;
      height: 50px;
      margin-bottom: 10px; }
