
#reviews-list {

  .item {
    padding: 10px 0;
    border-bottom: $tvn-stroke;

    .meta {
      margin: .3em 0;
    }
    .ui.rating {
      display: flex;
      width: 80px;
      margin-top: 8px;
    }
    &:last-child {
      border-bottom: none;
    }
  }
}