@import "fixed_menu_bar";
@import "generic_menu_bar_selector";
@import "day_picker";
@import "meal_section";
@import "serving_card";

.main {
  padding-top: $tvn-fixed-top-menu-height;
}

.main + .footer {
  padding: 60px 0;
  @include tvn-theme-normal;
  background-color: unset;

  &, .signature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .signature {
    font-size: $tvn-font-size-small;
  }

  .signature .icon{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
  }
}

