.meals .serving.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0 !important;
  margin: 0 !important;
  border: $tvn-stroke;
  border-radius: $tvn-content-border-radius;
  background-color: $tvn-white;
  box-shadow: $tvn-component-box-shadow;
  overflow: hidden;
  transition: $tvn-fx-duration;
  cursor: pointer;

  .image.wrapper {
    flex: none;
    position: relative;
    width: 20%;
    height: inherit;
    overflow: hidden;

    .image, &:after {
      width: 100%;
      height: 100%;
    }
    .image {
      background-size: cover;
      background-position: center center;
      transition: 0.3s;
    }
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      background-color: $tvn-accent-color;
      opacity: 0.3;
    }
  }
  .content {
    padding: 15px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    //justify-content: space-between;
  }
  .header {
    margin: 0;
  }
  .header + .header {
    margin: 10px 0 5px;
  }
  .meta, .description {
    font-size: $tvn-font-size-small;
    color: $tvn-black;
  }
  .meta {
    margin: 10px 0 5px;
  }
  .description {
    display: flex;
    line-height: 1.5em;
    color: $tvn-black;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &:hover {
    border-color: transparentize($tvn-accent-color, 0.4);
  }
  &:active {
    box-shadow: $tvn-accented-box-shadow;
  }

  // media queries:
  @media only screen and (max-width: 380px) {
    & {
      flex-direction: column;
    }
    .image.wrapper {
      width: 100%;
      height: 150px;
      border-radius: 0;
      border-top-left-radius: $tvn-content-border-radius;
      border-top-right-radius: $tvn-content-border-radius;
    }
  }
  @media only screen and (min-width: 992px) {
    .content {
      height: 170px;
    }
    .header, .meta, .footer {
      flex: none;
    }
    .description {
      height: 100%;
    }
  }


}