@import '../../scss/style';
.calendar-icon:hover {
    g {
        fill: #ffffff;
    };
}

.DayPicker-NavButton--prev {
    left: 1rem !important;
    background-image: url('../../../static_build/img/icons/expand.svg') !important;
}

.DayPicker-NavButton--next {
    right: 1rem !important;
    background-image: url('../../../static_build/img/icons/expand.svg') !important;
}